@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');

.container{
  background-image: url('images/Background.svg');
  margin: 0px;
  padding: 0px;
  background-repeat: repeat-y;
}

.container h1{
  margin: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #F4A261;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
}

.description{
  padding: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.description p{
  text-align: center;
  color: white;
}

.list_view{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.resturant_item{
  width: 282px;
  height: 144px;
  background-image: url('images/captain_bg.svg');
  margin: 1rem;
}

.overlay{
    width: 288px;
    height: 151px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  
}

.resturant_category{
  background-color: black;
  color: white;
  display: inline-block;
  padding: .5rem;
  margin-left: .4rem;
  flex-basis: content;
}

.resturant_name{
  background-color: white;
  color: black;
  display: inline-block;
  padding: .5rem;
  margin-left: .4rem;
}
