.container{
  background-image: url('images/Background.svg');
  margin: 0px;
  padding: 0px;
}

.container h1{
  margin: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  color: #F4A261;
  font-size: 22px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: black;
}

i{
  color: white;
}

.emoji {
  font-size: 32px;
}

.quick_refine{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

button.quick_button{
  display: flex;
  align-items: center;
  padding: .6rem;
  border-radius: 50%;
  margin: 0.2rem;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
}

.meat-on, .pizza-on, .seafood-on, .tacos-on, .breakfast-on, .drinks-on{
  display: flex;
  align-items: center;
  padding: .6rem;
  border-radius: 50%;
  margin: 0.2rem;
  background: rgba(244, 162, 97, 0.5);
  border: 0;
}

.list_view{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.resturant_item{
  width: 282px;
  height: 144px;
  background-image: url('images/captain_bg.svg');
  margin: 1rem;
}

.overlay{
    width: 288px;
    height: 151px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  
}

.resturant_category{
  background-color: black;
  color: white;
  display: inline-block;
  padding: .5rem;
  margin-left: .4rem;
  flex-basis: content;
}

.resturant_category p{
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.resturant_name{
  background-color: white;
  color: black;
  display: inline-block;
  padding: .5rem;
  margin-left: .4rem;
  max-width: 260px !important;
}

.resturant_name p{
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 23px;
  font-weight: 900;
}

.resturant_card {
  display: flex;
  width: 100vw;
  background: tomato;
  height: 70vh;
  border-radius: 20px 20px 0px 0px;
}

footer{
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

/*  TO DO List

*create seperate styling for Select Location heading 
*play around with font pairings


*/